@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: black !important;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #787877 !important;
  border-radius: 0px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #787877ad !important;
}

